@import url('./material-symbols/material-symbols.css');

html {
    --jmix-font-icon-font-family: 'Material-Symbols';

    --jmix-font-icon-abacus: '\ebe2'; /* abacus - exact */
    --jmix-font-icon-absolute-position: '\f1df'; /* position_top_right - close */
    --jmix-font-icon-accessibility: '\e84e'; /* accessibility - exact */
    --jmix-font-icon-accident: '\e99d'; /* car_crash - close */
    --jmix-font-icon-accordion-menu: '\e8ee'; /* menu_open - close */
    --jmix-font-icon-add-dock: '\e145'; /* add - close */
    --jmix-font-icon-address-book: '\ef55'; /* contacts - close */
    --jmix-font-icon-address-book-o: '\ef55'; /* contacts - close */
    --jmix-font-icon-adjust: '\e3d3'; /* brightness_4 - close */
    --jmix-font-icon-adobe-premiere: '\e051'; /* videocam - none */
    --jmix-font-icon-air-freshener: '\e798'; /* air - close */
    --jmix-font-icon-airplane: '\e539'; /* flight - exact */
    --jmix-font-icon-alarm: '\e855'; /* alarm - exact */
    --jmix-font-icon-alarm-clock: '\e855'; /* alarm - exact */
    --jmix-font-icon-alarm-remove: '\e856'; /* alarm_off - exact */
    --jmix-font-icon-ambulance: '\f135'; /* emergency - close */
    --jmix-font-icon-anchor: '\f1cd'; /* anchor - exact */
    --jmix-font-icon-android: '\e859'; /* android - exact */
    --jmix-font-icon-android-o: '\e859'; /* android - exact */
    --jmix-font-icon-angle-double-down: '\e5db'; /* keyboard_double_arrow_down - exact */
    --jmix-font-icon-angle-double-left: '\e5dc'; /* keyboard_double_arrow_left - exact */
    --jmix-font-icon-angle-double-right: '\e5dd'; /* keyboard_double_arrow_right - exact */
    --jmix-font-icon-angle-double-up: '\e5da'; /* keyboard_double_arrow_up - exact */
    --jmix-font-icon-angle-down: '\e5cf'; /* expand_more - exact */
    --jmix-font-icon-angle-left: '\e5cb'; /* chevron_left - exact */
    --jmix-font-icon-angle-right: '\e5cc'; /* chevron_right - exact */
    --jmix-font-icon-angle-up: '\e5ce'; /* expand_less - exact */
    --jmix-font-icon-archive: '\e149'; /* archive - exact */
    --jmix-font-icon-archives: '\e149'; /* archive - exact */
    --jmix-font-icon-area-select: '\eb97'; /* select_all - close */
    --jmix-font-icon-arrow-backward: '\e5c4'; /* arrow_back - exact */
    --jmix-font-icon-arrow-circle-down: '\e5db'; /* keyboard_double_arrow_down - close */
    --jmix-font-icon-arrow-circle-down-o: '\f0b2'; /* arrow_circle_down - exact */
    --jmix-font-icon-arrow-circle-left: '\f0b0'; /* arrow_circle_left - exact */
    --jmix-font-icon-arrow-circle-right: '\f0b1'; /* arrow_circle_right - exact */
    --jmix-font-icon-arrow-circle-up: '\f0b3'; /* arrow_circle_up - exact */
    --jmix-font-icon-arrow-circle-up-o: '\f0b3'; /* arrow_circle_up - exact */
    --jmix-font-icon-arrow-down: '\e5db'; /* south - close */
    --jmix-font-icon-arrow-forward: '\e5c8'; /* arrow_forward - exact */
    --jmix-font-icon-arrow-left: '\e5cb'; /* arrow_back - close */
    --jmix-font-icon-arrow-long-down: '\f1e2'; /* arrow_downward_alt - exact */
    --jmix-font-icon-arrow-long-left: '\f1e1'; /* arrow_back_alt - close */
    --jmix-font-icon-arrow-long-right: '\f1df'; /* arrow_forward_alt - close */
    --jmix-font-icon-arrow-long-up: '\f1e0'; /* arrow_upward_alt - exact */
    --jmix-font-icon-arrow-right: '\e5cc'; /* arrow_forward - close */
    --jmix-font-icon-arrow-up: '\e5da'; /* north - close */
    --jmix-font-icon-asterisk: '\e9e8'; /* asterisk - exact */
    --jmix-font-icon-at: '\e0e6'; /* alternate_email - exact */
    --jmix-font-icon-automation: '\e1be'; /* autorenew - close */
    --jmix-font-icon-backspace: '\e14a'; /* backspace - exact */
    --jmix-font-icon-backwards: '\e020'; /* fast_rewind - exact */
    --jmix-font-icon-ban: '\e7a6'; /* block - exact */
    --jmix-font-icon-bar-chart: '\e26b'; /* bar_chart - exact */
    --jmix-font-icon-bar-chart-h: '\e26c'; /* bar_chart_4_bars - close */
    --jmix-font-icon-bar-chart-v: '\e26b'; /* bar_chart - exact */
    --jmix-font-icon-barcode: '\f06e'; /* barcode - exact */
    --jmix-font-icon-barcode-o: '\f06e'; /* barcode - exact */
    --jmix-font-icon-bed: '\efdf'; /* bed - exact */
    --jmix-font-icon-bell: '\e7f4'; /* notifications - exact */
    --jmix-font-icon-bell-o: '\e7f5'; /* notifications_none - exact */
    --jmix-font-icon-bell-slash: '\e7f6'; /* notifications_off - exact */
    --jmix-font-icon-bell-slash-o: '\e7f6'; /* notifications_off - exact */
    --jmix-font-icon-boat: '\ef3d'; /* sailing - close */
    --jmix-font-icon-bold: '\e238'; /* format_bold - exact */
    --jmix-font-icon-bolt: '\e1be'; /* bolt - exact */
    --jmix-font-icon-bomb: '\e21e'; /* crisis_alert - close */
    --jmix-font-icon-book: '\e865'; /* menu_book - close */
    --jmix-font-icon-book-dollar: '\e865'; /* menu_book - none */
    --jmix-font-icon-book-o: '\e865'; /* menu_book - close */
    --jmix-font-icon-book-percent: '\e865'; /* menu_book - none */
    --jmix-font-icon-bookmark: '\e866'; /* bookmark - exact */
    --jmix-font-icon-bookmark-o: '\e867'; /* bookmark_border - exact */
    --jmix-font-icon-broom: '\f1c9'; /* cleaning_services - close */
    --jmix-font-icon-browser: '\eac8'; /* open_in_browser - close */
    --jmix-font-icon-bug: '\e868'; /* bug_report - exact */
    --jmix-font-icon-bug-o: '\e868'; /* bug_report - exact */
    --jmix-font-icon-building: '\ea40'; /* apartment - close */
    --jmix-font-icon-building-o: '\ea40'; /* apartment - close */
    --jmix-font-icon-bullets: '\e241'; /* format_list_bulleted - exact */
    --jmix-font-icon-bus: '\e530'; /* directions_bus - exact */
    --jmix-font-icon-button: '\f1b1'; /* smart_button - close */
    --jmix-font-icon-calc: '\ea5a'; /* calculate - exact */
    --jmix-font-icon-calc-book: '\ea5a'; /* calculate - close */
    --jmix-font-icon-calendar: '\e916'; /* calendar_today - exact */
    --jmix-font-icon-calendar-briefcase: '\e916'; /* work_history - close */
    --jmix-font-icon-calendar-clock: '\e8df'; /* event - close */
    --jmix-font-icon-calendar-envelope: '\e8df'; /* event - none */
    --jmix-font-icon-calendar-o: '\e8df'; /* event - exact */
    --jmix-font-icon-calendar-user: '\e8df'; /* event - close */
    --jmix-font-icon-camera: '\e3af'; /* camera_alt - close */
    --jmix-font-icon-car: '\e531'; /* directions_car - exact */
    --jmix-font-icon-caret-down: '\e5c5'; /* arrow_drop_down - exact */
    --jmix-font-icon-caret-left: '\e5c7'; /* arrow_left - exact */
    --jmix-font-icon-caret-right: '\e5c8'; /* arrow_right - exact */
    --jmix-font-icon-caret-square-down-o: '\e5c5'; /* arrow_drop_down_circle - close */
    --jmix-font-icon-caret-square-left-o: '\e5c7'; /* arrow_left - close */
    --jmix-font-icon-caret-square-right-o: '\e5c8'; /* arrow_right - close */
    --jmix-font-icon-caret-square-up-o: '\e5c4'; /* arrow_drop_up - close */
    --jmix-font-icon-caret-up: '\e5c4'; /* arrow_drop_up - exact */
    --jmix-font-icon-cart: '\e8cc'; /* shopping_cart - exact */
    --jmix-font-icon-cart-o: '\e8cb'; /* shopping_cart_checkout - close */
    --jmix-font-icon-cash: '\e4fc'; /* payments - close */
    --jmix-font-icon-certificate: '\e9d9'; /* verified - close */
    --jmix-font-icon-chart: '\e6de'; /* stacked_line_chart - close */
    --jmix-font-icon-chart-3d: '\e6de'; /* area_chart - close */
    --jmix-font-icon-chart-grid: '\f49d'; /* chart_data - close */
    --jmix-font-icon-chart-line: '\e6e1'; /* show_chart - exact */
    --jmix-font-icon-chart-timeline: '\e020'; /* timeline - close */
    --jmix-font-icon-check: '\e5ca'; /* check - exact */
    --jmix-font-icon-check-circle: '\e86c'; /* check_circle - exact */
    --jmix-font-icon-check-circle-o: '\ef26'; /* check_circle_outline - exact */
    --jmix-font-icon-check-square: '\e834'; /* check_box - exact */
    --jmix-font-icon-check-square-o: '\e835'; /* check_box_outline_blank - close */
    --jmix-font-icon-chevron-circle-down: '\e5cf'; /* keyboard_arrow_down - close */
    --jmix-font-icon-chevron-circle-left: '\e5cb'; /* keyboard_arrow_left - close */
    --jmix-font-icon-chevron-circle-right: '\e5cc'; /* keyboard_arrow_right - close */
    --jmix-font-icon-chevron-circle-up: '\e5ce'; /* keyboard_arrow_up - close */
    --jmix-font-icon-chevron-down: '\e5cf'; /* keyboard_arrow_down - exact */
    --jmix-font-icon-chevron-down-small: '\e313'; /* expand_circle_down - close */
    --jmix-font-icon-chevron-left: '\e5cb'; /* keyboard_arrow_left - exact */
    --jmix-font-icon-chevron-left-small: '\e5cb'; /* keyboard_arrow_left - exact */
    --jmix-font-icon-chevron-right: '\e5cc'; /* keyboard_arrow_right - exact */
    --jmix-font-icon-chevron-right-small: '\e5cc'; /* keyboard_arrow_right - exact */
    --jmix-font-icon-chevron-up: '\e5ce'; /* keyboard_arrow_up - exact */
    --jmix-font-icon-chevron-up-small: '\e5ce'; /* keyboard_arrow_up - exact */
    --jmix-font-icon-child: '\e91c'; /* child_care - exact */
    --jmix-font-icon-circle: '\ef4a'; /* circle - exact */
    --jmix-font-icon-circle-thin: '\ef4b'; /* radio_button_unchecked - close */
    --jmix-font-icon-clipboard: '\f0f4'; /* content_paste - close */
    --jmix-font-icon-clipboard-cross: '\f0c4'; /* content_paste_off - close */
    --jmix-font-icon-clipboard-heart: '\f0f4'; /* content_paste - none */
    --jmix-font-icon-clipboard-pulse: '\f0f4'; /* content_paste - close */
    --jmix-font-icon-clipboard-text: '\f0f4'; /* content_paste - close */
    --jmix-font-icon-clipboard-user: '\f0f4'; /* content_paste - close */
    --jmix-font-icon-clock: '\e8b5'; /* schedule - close */
    --jmix-font-icon-close: '\e5cd'; /* close - exact */
    --jmix-font-icon-close-big: '\e5cd'; /* close - exact */
    --jmix-font-icon-close-circle: '\e5cd'; /* cancel - close */
    --jmix-font-icon-close-circle-o: '\ef76'; /* cancel - close */
    --jmix-font-icon-cloud: '\e2bd'; /* cloud - exact */
    --jmix-font-icon-cloud-download: '\e2c0'; /* cloud_download - exact */
    --jmix-font-icon-cloud-download-o: '\e2c0'; /* cloud_download - exact */
    --jmix-font-icon-cloud-o: '\e2be'; /* cloud_queue - exact */
    --jmix-font-icon-cloud-upload: '\e2c3'; /* cloud_upload - exact */
    --jmix-font-icon-cloud-upload-o: '\e2c3'; /* cloud_upload - exact */
    --jmix-font-icon-cluster: '\eb3a'; /* hub - close */
    --jmix-font-icon-code: '\e86f'; /* code - exact */
    --jmix-font-icon-cog: '\e8b8'; /* settings - exact */
    --jmix-font-icon-cog-o: '\e8b8'; /* settings - exact */
    --jmix-font-icon-cogs: '\e8d8'; /* manufacturing - close */
    --jmix-font-icon-columns: '\e9b0'; /* view_column - exact */
    --jmix-font-icon-comment: '\e0b9'; /* chat_bubble - close */
    --jmix-font-icon-comment-ellipsis: '\e0b9'; /* chat_bubble - close */
    --jmix-font-icon-comment-ellipsis-o: '\e0ba'; /* chat_bubble_outline - close */
    --jmix-font-icon-comment-o: '\e0ba'; /* chat_bubble_outline - close */
    --jmix-font-icon-comments: '\e0b7'; /* forum - close */
    --jmix-font-icon-comments-o: '\e0b7'; /* forum - close */
    --jmix-font-icon-compress: '\e94d'; /* compress - exact */
    --jmix-font-icon-compress-square: '\e94d'; /* compress - close */
    --jmix-font-icon-connect: '\e63a'; /* cable - close */
    --jmix-font-icon-controller: '\ef46'; /* sports_esports - exact */
    --jmix-font-icon-copy: '\e14d'; /* content_copy - exact */
    --jmix-font-icon-copy-o: '\e14d'; /* content_copy - exact */
    --jmix-font-icon-credit-card: '\e870'; /* credit_card - exact */
    --jmix-font-icon-crop: '\e3be'; /* crop - exact */
    --jmix-font-icon-cross-cutlery: '\ef1f'; /* restaurant - close */
    --jmix-font-icon-css: '\eb9d'; /* css - exact */
    --jmix-font-icon-cursor: '\e0b7'; /* mouse - close */
    --jmix-font-icon-cursor-o: '\e0b7'; /* mouse - close */
    --jmix-font-icon-cut: '\e14e'; /* content_cut - exact */
    --jmix-font-icon-cutlery: '\ef1f'; /* restaurant - close */
    --jmix-font-icon-dashboard: '\e871'; /* dashboard - exact */
    --jmix-font-icon-database: '\e1e0'; /* storage - close */
    --jmix-font-icon-date-input: '\e916'; /* today - close */
    --jmix-font-icon-deindent: '\e23d'; /* format_indent_decrease - exact */
    --jmix-font-icon-desktop: '\e30c'; /* desktop_windows - exact */
    --jmix-font-icon-details: '\e3c4'; /* details - exact */
    --jmix-font-icon-diploma: '\e9d9'; /* workspace_premium - close */
    --jmix-font-icon-diploma-scroll: '\e9d9'; /* workspace_premium - close */
    --jmix-font-icon-disc: '\e019'; /* album - close */
    --jmix-font-icon-doctor: '\e548'; /* local_hospital - close */
    --jmix-font-icon-doctor-briefcase: '\e548'; /* medical_services - close */
    --jmix-font-icon-dollar: '\e227'; /* attach_money - exact */
    --jmix-font-icon-dot-circle: '\e837'; /* radio_button_checked - exact */
    --jmix-font-icon-dot-circle-o: '\e836'; /* radio_button_unchecked - exact */
    --jmix-font-icon-download: '\f090'; /* download - exact */
    --jmix-font-icon-download-alt: '\f090'; /* download - exact */
    --jmix-font-icon-drop: '\e798'; /* water_drop - close */
    --jmix-font-icon-edit: '\e3c9'; /* edit - exact */
    --jmix-font-icon-ellipsis-circle: '\e712'; /* more_horiz - close */
    --jmix-font-icon-ellipsis-circle-o: '\e712'; /* more_horiz - close */
    --jmix-font-icon-ellipsis-dots-h: '\e712'; /* more_horiz - exact */
    --jmix-font-icon-ellipsis-dots-v: '\e5d4'; /* more_vert - exact */
    --jmix-font-icon-ellipsis-h: '\e712'; /* more_horiz - exact */
    --jmix-font-icon-ellipsis-v: '\e5d4'; /* more_vert - exact */
    --jmix-font-icon-enter: '\e9fc'; /* input - close */
    --jmix-font-icon-enter-arrow: '\e9fc'; /* input - close */
    --jmix-font-icon-envelope: '\e0be'; /* mail - close */
    --jmix-font-icon-envelope-o: '\e0e1'; /* mail_outline - close */
    --jmix-font-icon-envelope-open: '\e0e1'; /* drafts - close */
    --jmix-font-icon-envelope-open-o: '\e0e1'; /* drafts - close */
    --jmix-font-icon-eraser: '\e30e'; /* ink_eraser - close */
    --jmix-font-icon-euro: '\e926'; /* euro - exact */
    --jmix-font-icon-exchange: '\ea62'; /* currency_exchange - close */
    --jmix-font-icon-exclamation: '\e002'; /* priority_high - close */
    --jmix-font-icon-exclamation-circle: '\e88e'; /* error - exact */
    --jmix-font-icon-exclamation-circle-o: '\e8b2'; /* error_outline - exact */
    --jmix-font-icon-exit: '\e9fc'; /* exit_to_app - exact */
    --jmix-font-icon-exit-o: '\e9fd'; /* logout - close */
    --jmix-font-icon-expand: '\e94e'; /* open_in_full - close */
    --jmix-font-icon-expand-full: '\e9f4'; /* fullscreen - exact */
    --jmix-font-icon-expand-square: '\e94e'; /* open_in_full - close */
    --jmix-font-icon-external-link: '\e89e'; /* open_in_new - exact */
    --jmix-font-icon-external-link-square: '\e89e'; /* open_in_new - close */
    --jmix-font-icon-eye: '\e8f4'; /* visibility - exact */
    --jmix-font-icon-eye-slash: '\e8f5'; /* visibility_off - exact */
    --jmix-font-icon-eyedropper: '\e3b8'; /* colorize - exact */
    --jmix-font-icon-facebook: '\e89e'; /* facebook - none */
    --jmix-font-icon-factory: '\eb37'; /* factory - exact */
    --jmix-font-icon-fast-backward: '\e020'; /* fast_rewind - exact */
    --jmix-font-icon-fast-forward: '\e01f'; /* fast_forward - exact */
    --jmix-font-icon-female: '\e696'; /* female - exact */
    --jmix-font-icon-file: '\e873'; /* description - close */
    --jmix-font-icon-file-add: '\e853'; /* note_add - close */
    --jmix-font-icon-file-code: '\eb9d'; /* code - close */
    --jmix-font-icon-file-movie: '\e02c'; /* video_file - close */
    --jmix-font-icon-file-o: '\eb9d'; /* description - close */
    --jmix-font-icon-file-picture: '\eb9d'; /* image - close */
    --jmix-font-icon-file-presentation: '\e021'; /* slideshow - close */
    --jmix-font-icon-file-process: '\eb9d'; /* sync_alt - none */
    --jmix-font-icon-file-refresh: '\e8f9'; /* file_present - close */
    --jmix-font-icon-file-remove: '\eb9d'; /* file_present - close */
    --jmix-font-icon-file-search: '\eb9d'; /* manage_search - close */
    --jmix-font-icon-file-sound: '\e022'; /* audio_file - close */
    --jmix-font-icon-file-start: '\eb9d'; /* file_present - close */
    --jmix-font-icon-file-table: '\eb9d'; /* table_chart - close */
    --jmix-font-icon-file-text: '\e873'; /* article - close */
    --jmix-font-icon-file-text-o: '\e873'; /* article - close */
    --jmix-font-icon-file-tree: '\eb3a'; /* account_tree - close */
    --jmix-font-icon-file-tree-small: '\eb3a'; /* account_tree - close */
    --jmix-font-icon-file-tree-sub: '\eb3a'; /* account_tree - close */
    --jmix-font-icon-file-zip: '\eb9d'; /* folder_zip - close */
    --jmix-font-icon-film: '\e02c'; /* movie - close */
    --jmix-font-icon-filter: '\ef4f'; /* filter_alt - exact */
    --jmix-font-icon-fire: '\e798'; /* local_fire_department - close */
    --jmix-font-icon-flag: '\e153'; /* flag - exact */
    --jmix-font-icon-flag-checkered: '\ef56'; /* sports_score - close */
    --jmix-font-icon-flag-o: '\e153'; /* flag - exact */
    --jmix-font-icon-flash: '\e0e7'; /* flash_on - exact */
    --jmix-font-icon-flask: '\e06b'; /* science - close */
    --jmix-font-icon-flip-h: '\e3e8'; /* flip - close */
    --jmix-font-icon-flip-v: '\e3e8'; /* flip - close */
    --jmix-font-icon-folder: '\e2c7'; /* folder - exact */
    --jmix-font-icon-folder-o: '\e2c8'; /* folder_open - exact */
    --jmix-font-icon-folder-open: '\e2c8'; /* folder_open - exact */
    --jmix-font-icon-folder-open-o: '\e2c8'; /* folder_open - exact */
    --jmix-font-icon-font: '\e244'; /* font_download - close */
    --jmix-font-icon-form: '\e761'; /* dynamic_form - close */
    --jmix-font-icon-forward: '\e01f'; /* skip_next - close */
    --jmix-font-icon-forward-5s: '\e020'; /* forward_5 - close */
    --jmix-font-icon-forward-10s: '\e020'; /* forward_10 - close */
    --jmix-font-icon-forward-30s: '\e020'; /* forward_30 - close */
    --jmix-font-icon-funnel: '\ef4f'; /* filter_list - close */
    --jmix-font-icon-funnel-clock: '\ef4f'; /* filter_list - none */
    --jmix-font-icon-gamepad: '\ef46'; /* sports_esports - exact */
    --jmix-font-icon-gavel: '\e9ca'; /* gavel - exact */
    --jmix-font-icon-gift: '\e8fe'; /* redeem - exact */
    --jmix-font-icon-glass: '\e69a'; /* local_bar - close */
    --jmix-font-icon-globe: '\e80b'; /* language - close */
    --jmix-font-icon-golf: '\ef53'; /* golf_course - exact */
    --jmix-font-icon-google-plus: '\e89e'; /* add_circle - none */
    --jmix-font-icon-google-plus-o: '\e89e'; /* add_circle_outline - none */
    --jmix-font-icon-grab: '\e9cb'; /* open_with - close */
    --jmix-font-icon-grid: '\e9b0'; /* grid_view - exact */
    --jmix-font-icon-grid-big: '\e9b0'; /* grid_view - exact */
    --jmix-font-icon-grid-big-o: '\e9b0'; /* grid_view - exact */
    --jmix-font-icon-grid-bevel: '\e9b0'; /* grid_view - close */
    --jmix-font-icon-grid-h: '\e246'; /* view_module - exact */
    --jmix-font-icon-grid-small: '\e9b0'; /* apps - close */
    --jmix-font-icon-grid-small-o: '\e9b0'; /* apps - close */
    --jmix-font-icon-grid-v: '\e246'; /* view_list - close */
    --jmix-font-icon-group: '\e7ef'; /* group - exact */
    --jmix-font-icon-group-o: '\e7ef'; /* group - exact */
    --jmix-font-icon-h-splitpanel: '\e7fb'; /* horizontal_split - close */
    --jmix-font-icon-hammer: '\e868'; /* hardware - close */
    --jmix-font-icon-hand: '\e0a5'; /* pan_tool - exact */
    --jmix-font-icon-handle-arrow: '\e9cb'; /* open_with - close */
    --jmix-font-icon-handle-corner: '\e9cb'; /* open_with - none */
    --jmix-font-icon-hands-up: '\e811'; /* waving_hand - close */
    --jmix-font-icon-handshake: '\f7c5'; /* handshake - exact */
    --jmix-font-icon-harddrive: '\e1db'; /* storage - close */
    --jmix-font-icon-harddrive-o: '\e1db'; /* storage - close */
    --jmix-font-icon-hash: '\e9c5'; /* tag - close */
    --jmix-font-icon-headphones: '\e310'; /* headphones - exact */
    --jmix-font-icon-headset: '\e31f'; /* headset_mic - exact */
    --jmix-font-icon-health-card: '\e548'; /* medical_information - close */
    --jmix-font-icon-heart: '\e87d'; /* favorite - exact */
    --jmix-font-icon-heart-o: '\e87e'; /* favorite_border - exact */
    --jmix-font-icon-helicopter: '\f1d5'; /* helicopter - exact */
    --jmix-font-icon-helmet: '\f53f'; /* safety_check - close */
    --jmix-font-icon-help: '\e887'; /* help - exact */
    --jmix-font-icon-help-circle: '\e887'; /* help - exact */
    --jmix-font-icon-help-circle-o: '\e8fd'; /* help_outline - exact */
    --jmix-font-icon-home: '\e88a'; /* home - exact */
    --jmix-font-icon-home-o: '\e9b2'; /* home - close */
    --jmix-font-icon-hospital: '\e548'; /* local_hospital - exact */
    --jmix-font-icon-hourglass: '\e88b'; /* hourglass_empty - close */
    --jmix-font-icon-hourglass-empty: '\e88c'; /* hourglass_disabled - close */
    --jmix-font-icon-hourglass-end: '\e88d'; /* hourglass_bottom - exact */
    --jmix-font-icon-hourglass-start: '\e88b'; /* hourglass_top - exact */
    --jmix-font-icon-html5: '\eb9d'; /* html - exact */
    --jmix-font-icon-image: '\e3f4'; /* image - exact */
    --jmix-font-icon-image-o: '\e3f4'; /* image - exact */
    --jmix-font-icon-inbox: '\e156'; /* inbox - exact */
    --jmix-font-icon-indent: '\e23e'; /* format_indent_increase - exact */
    --jmix-font-icon-info: '\e88e'; /* info - exact */
    --jmix-font-icon-info-circle: '\e88e'; /* info - exact */
    --jmix-font-icon-info-circle-o: '\e88f'; /* info_outline - exact */
    --jmix-font-icon-institution: '\eafd'; /* account_balance - close */
    --jmix-font-icon-invoice: '\e850'; /* receipt - close */
    --jmix-font-icon-italic: '\e23a'; /* format_italic - exact */
    --jmix-font-icon-join: '\eb3a'; /* merge - close */
    --jmix-font-icon-keyboard: '\e312'; /* keyboard - exact */
    --jmix-font-icon-keyboard-o: '\e312'; /* keyboard - exact */
    --jmix-font-icon-key: '\e73c'; /* key - exact */
    --jmix-font-icon-key-o: '\e73c'; /* key - exact */
    --jmix-font-icon-lab: '\e4c8'; /* biotech - close */
    --jmix-font-icon-laptop: '\e31e'; /* laptop - exact */
    --jmix-font-icon-lazyload-img: '\e3f4'; /* image - close */
    --jmix-font-icon-leaf: '\ec1a'; /* eco - close */
    --jmix-font-icon-level-down: '\e5d0'; /* subdirectory_arrow_right - close */
    --jmix-icon-level-left: '\e5c4'; /* subdirectory_arrow_left - close */
    --jmix-font-icon-level-left: '\e5c4'; /* subdirectory_arrow_left - close */
    --jmix-font-icon-level-right: '\e5c8'; /* subdirectory_arrow_right - close */
    --jmix-font-icon-level-up: '\e5d0'; /* vertical_align_top - close */
    --jmix-font-icon-lightbulb: '\e0f0'; /* lightbulb - exact */
    --jmix-font-icon-line-bar-chart: '\e6df'; /* area_chart - close */
    --jmix-font-icon-line-chart: '\e6e1'; /* show_chart - exact */
    --jmix-font-icon-line-h: '\e5d6'; /* horizontal_rule - exact */
    --jmix-font-icon-line-v: '\e5d6'; /* vertical_distribute - close */
    --jmix-font-icon-lines: '\e241'; /* format_list_bulleted - close */
    --jmix-font-icon-list: '\e241'; /* list - exact */
    --jmix-font-icon-list-ol: '\e242'; /* format_list_numbered - exact */
    --jmix-font-icon-list-select: '\e241'; /* list - close */
    --jmix-font-icon-list-ul: '\e241'; /* format_list_bulleted - exact */
    --jmix-font-icon-location-arrow: '\e55c'; /* near_me - close */
    --jmix-font-icon-lock: '\e897'; /* lock - exact */
    --jmix-font-icon-lock-o: '\e898'; /* lock_open - close */
    --jmix-font-icon-magic: '\e31e'; /* auto_fix_high - close */
    --jmix-font-icon-magnet: '\f0fb'; /* magnet - none */
    --jmix-font-icon-male: '\e695'; /* male - exact */
    --jmix-font-icon-male-female: '\e1a3'; /* wc - close */
    --jmix-font-icon-map-marker: '\e55f'; /* place - exact */
    --jmix-font-icon-margin: '\e9ab'; /* margin - exact */
    --jmix-font-icon-margin-bottom: '\e9ab'; /* margin - close */
    --jmix-font-icon-margin-left: '\e9ab'; /* margin - close */
    --jmix-font-icon-margin-right: '\e9ab'; /* margin - close */
    --jmix-font-icon-margin-top: '\e9ab'; /* margin - close */
    --jmix-font-icon-medical: '\e548'; /* local_hospital - close */
    --jmix-font-icon-megafone: '\e0f2'; /* campaign - close */
    --jmix-font-icon-memo: '\e616'; /* sticky_note_2 - close */
    --jmix-font-icon-menu: '\e5d2'; /* menu - exact */
    --jmix-font-icon-microphone: '\e029'; /* mic - exact */
    --jmix-font-icon-minus: '\e15b'; /* remove - exact */
    --jmix-font-icon-minus-circle: '\e15b'; /* do_not_disturb_on - close */
    --jmix-font-icon-minus-circle-o: '\e15b'; /* remove_circle_outline - close */
    --jmix-font-icon-minus-square: '\eb36'; /* indeterminate_check_box - close */
    --jmix-font-icon-minus-square-o: '\e835'; /* square - close */
    --jmix-font-icon-mobile: '\e325'; /* phone_iphone - close */
    --jmix-font-icon-mobile-browser: '\e325'; /* phone_iphone - close */
    --jmix-font-icon-modal: '\e5c4'; /* web_asset - close */
    --jmix-font-icon-modal-list: '\e5c4'; /* web_asset - close */
    --jmix-font-icon-money: '\e227'; /* attach_money - close */
    --jmix-font-icon-money-deposit: '\e227'; /* savings - close */
    --jmix-font-icon-money-exchange: '\ea62'; /* currency_exchange - close */
    --jmix-font-icon-money-withdraw: '\e227'; /* point_of_sale - close */
    --jmix-font-icon-moon: '\e208'; /* dark_mode - close */
    --jmix-font-icon-movie: '\e02c'; /* movie - exact */
    --jmix-font-icon-music: '\e405'; /* music_note - exact */
    --jmix-font-icon-mute: '\e04f'; /* volume_off - exact */
    --jmix-font-icon-native-button: '\f1b1'; /* smart_button - close */
    --jmix-font-icon-newspaper: '\eb81'; /* newspaper - exact */
    --jmix-font-icon-notebook: '\e865'; /* import_contacts - close */
    --jmix-font-icon-notification: '\e7f4'; /* notifications - exact */
    --jmix-font-icon-office: '\ea40'; /* business - close */
    --jmix-font-icon-open-book: '\e865'; /* menu_book - exact */
    --jmix-font-icon-orientation: '\e84d'; /* screen_rotation - close */
    --jmix-font-icon-out: '\e9fc'; /* exit_to_app - exact */
    --jmix-font-icon-outbox: '\ef5b'; /* outbox - exact */
    --jmix-font-icon-package: '\e9c0'; /* package_2 - close */
    --jmix-font-icon-padding: '\e9ac'; /* padding - exact */
    --jmix-font-icon-paint-roll: '\e8ac'; /* format_paint - close */
    --jmix-font-icon-paintbrush: '\ea4e'; /* brush - close */
    --jmix-font-icon-paperclip: '\e226'; /* attach_file - exact */
    --jmix-font-icon-paperplane: '\e163'; /* send - close */
    --jmix-font-icon-paragraph: '\e241'; /* format_paragraph - close */
    --jmix-font-icon-paste: '\f0f4'; /* content_paste - exact */
    --jmix-font-icon-pause: '\e034'; /* pause - exact */
    --jmix-font-icon-pencil: '\e3c9'; /* edit - close */
    --jmix-font-icon-phone: '\e0b0'; /* phone - exact */
    --jmix-font-icon-phone-landline: '\e0b1'; /* phone_in_talk - close */
    --jmix-font-icon-pie-chart: '\e6c4'; /* pie_chart - exact */
    --jmix-font-icon-pie-chart-1: '\e6c4'; /* pie_chart - exact */
    --jmix-font-icon-pie-chart-2: '\e6c4'; /* pie_chart - exact */
    --jmix-font-icon-pie-chart-3: '\e6c4'; /* pie_chart - exact */
    --jmix-font-icon-pie-chart-4: '\e6c4'; /* pie_chart - exact */
    --jmix-font-icon-pie-chart-5: '\e6c4'; /* pie_chart - exact */
    --jmix-font-icon-picture: '\e3f4'; /* image - exact */
    --jmix-font-icon-pin: '\e55f'; /* push_pin - close */
    --jmix-font-icon-pin-post: '\e55f'; /* push_pin - close */
    --jmix-font-icon-pinterest: '\e55f'; /* push_pin - none */
    --jmix-font-icon-pinterest-o: '\e55f'; /* push_pin - none */
    --jmix-font-icon-plane: '\e539'; /* flight - exact */
    --jmix-font-icon-play: '\e037'; /* play_arrow - exact */
    --jmix-font-icon-play-circle: '\e1c4'; /* play_circle - exact */
    --jmix-font-icon-play-circle-o: '\e1c5'; /* play_circle_outline - exact */
    --jmix-font-icon-plus: '\e145'; /* add - exact */
    --jmix-font-icon-plus-circle: '\e147'; /* add_circle - exact */
    --jmix-font-icon-plus-circle-o: '\e148'; /* add_circle_outline - exact */
    --jmix-font-icon-plus-minus: '\eb2d'; /* exposure - close */
    --jmix-font-icon-plus-square: '\ef50'; /* add_box - close */
    --jmix-font-icon-plus-square-o: '\e145'; /* add_box - close */
    --jmix-font-icon-pointer: '\e55f'; /* touch_app - close */
    --jmix-font-icon-power-off: '\e8ac'; /* power_settings_new - exact */
    --jmix-font-icon-presentation: '\e022'; /* present_to_all - close */
    --jmix-font-icon-print: '\e8ad'; /* print - exact */
    --jmix-font-icon-progressbar: '\e9d9'; /* linear_scale - close */
    --jmix-font-icon-puzzle: '\e8f1'; /* extension - close */
    --jmix-font-icon-qrcode: '\f2f3'; /* qr_code - close */
    --jmix-font-icon-qrcode-o: '\f2f3'; /* qr_code - close */
    --jmix-font-icon-question: '\e887'; /* question_mark - close */
    --jmix-font-icon-question-circle: '\e887'; /* help - exact */
    --jmix-font-icon-question-circle-o: '\e8fd'; /* help_outline - exact */
    --jmix-font-icon-quote-left: '\e244'; /* format_quote - exact */
    --jmix-font-icon-quote-right: '\e244'; /* format_quote - exact */
    --jmix-font-icon-random: '\e043'; /* shuffle - close */
    --jmix-font-icon-raster: '\e9b0'; /* grain - close */
    --jmix-font-icon-raster-o: '\e9b0'; /* grain - close */
    --jmix-font-icon-recycle: '\e7ef'; /* recycling - close */
    --jmix-font-icon-redo: '\e15a'; /* redo - exact */
    --jmix-font-icon-refresh: '\e5d5'; /* refresh - exact */
    --jmix-font-icon-registered: '\e3e0'; /* verified - none */
    --jmix-font-icon-reply: '\e15e'; /* reply - exact */
    --jmix-font-icon-reply-all: '\e15f'; /* reply_all - exact */
    --jmix-font-icon-resize-h: '\e84d'; /* swap_horiz - close */
    --jmix-font-icon-resize-v: '\e84d'; /* swap_vert - close */
    --jmix-font-icon-retweet: '\e627'; /* repeat - close */
    --jmix-font-icon-road: '\e51f'; /* route - close */
    --jmix-font-icon-rotate-left: '\e419'; /* rotate_left - exact */
    --jmix-font-icon-rotate-right: '\e41a'; /* rotate_right - exact */
    --jmix-font-icon-ruler: '\e157'; /* straighten - close */
    --jmix-font-icon-safe: '\e897'; /* enhanced_encryption - close */
    --jmix-font-icon-safe-lock: '\e897'; /* lock - close */
    --jmix-font-icon-scatter-chart: '\e268'; /* scatter_plot - exact */
    --jmix-font-icon-scissors: '\e3f4'; /* content_cut - close */
    --jmix-font-icon-screen: '\e30c'; /* tv - close */
    --jmix-font-icon-select: '\e842'; /* select_all - close */
    --jmix-font-icon-server: '\e1d8'; /* dns - close */
    --jmix-font-icon-share: '\e80d'; /* share - exact */
    --jmix-font-icon-share-square: '\e80d'; /* share - close */
    --jmix-font-icon-share-square-o: '\e80d'; /* share - close */
    --jmix-font-icon-shield: '\e9d9'; /* security - close */
    --jmix-font-icon-shift-arrow-down: '\e5db'; /* keyboard_double_arrow_down - close */
    --jmix-font-icon-shift-arrow-left: '\e5dc'; /* keyboard_double_arrow_left - close */
    --jmix-font-icon-shift-arrow-right: '\e5dd'; /* keyboard_double_arrow_right - close */
    --jmix-font-icon-shift-arrow-up: '\e5da'; /* keyboard_double_arrow_up - close */
    --jmix-font-icon-shop: '\e8cc'; /* store - close */
    --jmix-font-icon-sign-in: '\ea77'; /* login - exact */
    --jmix-font-icon-sign-in-alt: '\ea77'; /* login - exact */
    --jmix-font-icon-sign-out: '\e9fd'; /* logout - exact */
    --jmix-font-icon-sign-out-alt: '\e9fd'; /* logout - exact */
    --jmix-font-icon-signal: '\e1d8'; /* signal_cellular_4_bar - close */
    --jmix-font-icon-sitemap: '\eb3a'; /* account_tree - close */
    --jmix-font-icon-slider: '\e615'; /* tune - close */
    --jmix-font-icon-sliders: '\e615'; /* tune - exact */
    --jmix-font-icon-sort: '\e164'; /* sort - exact */
    --jmix-font-icon-sort-alpha-asc: '\ef67'; /* sort_by_alpha - exact */
    --jmix-font-icon-sort-alpha-desc: '\ef67'; /* sort_by_alpha - close */
    --jmix-font-icon-sort-asc: '\e5d8'; /* arrow_upward - exact */
    --jmix-font-icon-sort-desc: '\e5d9'; /* arrow_downward - exact */
    --jmix-font-icon-sort-numeric: '\e164'; /* format_list_numbered - close */
    --jmix-font-icon-sort-u-a: '\ef67'; /* sort_by_alpha - close */
    --jmix-font-icon-sort-u-z: '\ef67'; /* sort_by_alpha - close */
    --jmix-font-icon-spark-line: '\e6e1'; /* show_chart - exact */
    --jmix-font-icon-specialist: '\e548'; /* person_4 - close */
    --jmix-font-icon-split: '\e94e'; /* call_split - close */
    --jmix-font-icon-splitpanel: '\eb4b'; /* view_compact - close */
    --jmix-font-icon-spreadsheet: '\e8ef'; /* table_chart - close */
    --jmix-font-icon-star: '\e838'; /* star - exact */
    --jmix-font-icon-star-half-left: '\e839'; /* star_half - exact */
    --jmix-font-icon-star-half-left-o: '\e839'; /* star_half - exact */
    --jmix-font-icon-star-o: '\e83a'; /* star_border - exact */
    --jmix-font-icon-start-cog: '\e615'; /* settings_applications - close */
    --jmix-font-icon-step-backward: '\e045'; /* skip_previous - exact */
    --jmix-font-icon-step-forward: '\e044'; /* skip_next - exact */
    --jmix-font-icon-stop: '\e047'; /* stop - exact */
    --jmix-font-icon-storage: '\e1db'; /* storage - exact */
    --jmix-font-icon-strikethrough: '\e257'; /* strikethrough_s - exact */
    --jmix-font-icon-subscript: '\e258'; /* subscript - exact */
    --jmix-font-icon-suitcase: '\e6a7'; /* work - close */
    --jmix-font-icon-sun-o: '\e518'; /* wb_sunny - close */
    --jmix-font-icon-superscript: '\e259'; /* superscript - exact */
    --jmix-font-icon-sword: '\e092'; /* sports_martial_arts - none */
    --jmix-font-icon-tab: '\e8d8'; /* tab - exact */
    --jmix-font-icon-tab-a: '\e8d8'; /* tab - exact */
    --jmix-font-icon-table: '\e9b0'; /* table_view - exact */
    --jmix-font-icon-tablet: '\e32f'; /* tablet - exact */
    --jmix-font-icon-tag: '\e9c5'; /* label - close */
    --jmix-font-icon-tags: '\e9c5'; /* label - close */
    --jmix-font-icon-tasks: '\e00b'; /* checklist - close */
    --jmix-font-icon-teeth: '\efdf'; /* dentistry - close */
    --jmix-font-icon-terminal: '\eb8d'; /* terminal - exact */
    --jmix-font-icon-text-height: '\e25e'; /* format_size - close */
    --jmix-font-icon-text-input: '\e900'; /* input - close */
    --jmix-font-icon-text-label: '\e9c5'; /* label - close */
    --jmix-font-icon-text-width: '\e25e'; /* format_size - close */
    --jmix-font-icon-textarea: '\e900'; /* text_fields - close */
    --jmix-font-icon-thumb-down: '\e8db'; /* thumb_down - exact */
    --jmix-font-icon-thumb-down-o: '\e8dc'; /* thumb_down_off_alt - exact */
    --jmix-font-icon-thumb-up: '\e8d8'; /* thumb_up - exact */
    --jmix-font-icon-thumb-up-o: '\e8d9'; /* thumb_up_off_alt - exact */
    --jmix-font-icon-ticket: '\e84d'; /* confirmation_number - close */
    --jmix-font-icon-time-backward: '\e9aa'; /* history - exact */
    --jmix-font-icon-time-forward: '\e1db'; /* update - close */
    --jmix-font-icon-timer: '\e425'; /* timer - exact */
    --jmix-font-icon-toolbox: '\e1d8'; /* home_repair_service - close */
    --jmix-font-icon-tools: '\e8f1'; /* build - close */
    --jmix-font-icon-touch: '\e0a5'; /* touch_app - exact */
    --jmix-font-icon-train: '\e570'; /* train - exact */
    --jmix-font-icon-trash: '\e872'; /* delete - exact */
    --jmix-font-icon-trash-o: '\e872'; /* delete_outline - close */
    --jmix-font-icon-tree-table: '\eb3a'; /* account_tree - close */
    --jmix-font-icon-trending-down: '\e8f4'; /* trending_down - exact */
    --jmix-font-icon-trending-up: '\e8e5'; /* trending_up - exact */
    --jmix-font-icon-trophy: '\ef55'; /* emoji_events - exact */
    --jmix-font-icon-truck: '\e558'; /* local_shipping - exact */
    --jmix-font-icon-twitter: '\e0b0'; /* rss_feed - none */
    --jmix-font-icon-umbrella: '\e8d6'; /* umbrella - exact */
    --jmix-font-icon-underline: '\e249'; /* format_underlined - exact */
    --jmix-font-icon-undo: '\e166'; /* undo - exact */
    --jmix-font-icon-unlink: '\e157'; /* link_off - exact */
    --jmix-font-icon-unlock: '\e898'; /* lock_open - exact */
    --jmix-font-icon-unlock-o: '\e898'; /* lock_open - exact */
    --jmix-font-icon-upload: '\f09b'; /* upload - exact */
    --jmix-font-icon-upload-alt: '\f09b'; /* upload - exact */
    --jmix-font-icon-user: '\e7fd'; /* person - exact */
    --jmix-font-icon-user-card: '\e7fd'; /* contact_page - close */
    --jmix-font-icon-user-check: '\e7fd'; /* how_to_reg - close */
    --jmix-font-icon-user-clock: '\e7fd'; /* person_clock - close */
    --jmix-font-icon-user-heart: '\e7fd'; /* person - none */
    --jmix-font-icon-user-o: '\e7ff'; /* person_outline - exact */
    --jmix-font-icon-user-star: '\e7fd'; /* star - none */
    --jmix-font-icon-users: '\e7ef'; /* group - exact */
    --jmix-font-icon-utensils: '\ef1f'; /* restaurant - close */
    --jmix-font-icon-vaadin-h: '\e80e'; /* web - none */
    --jmix-font-icon-vaadin-v: '\e80e'; /* web - none */
    --jmix-font-icon-vaadin-logo: '\e80e'; /* web - none */
    --jmix-font-icon-video: '\e04b'; /* videocam - close */
    --jmix-font-icon-viewport: '\e30c'; /* web_asset - close */
    --jmix-font-icon-viewport-coding: '\eb8d'; /* terminal - close */
    --jmix-font-icon-vimeo: '\e04b'; /* videocam - none */
    --jmix-font-icon-vimeo-square: '\e04b'; /* videocam - none */
    --jmix-font-icon-volume: '\e050'; /* volume_up - exact */
    --jmix-font-icon-volume-down: '\e04d'; /* volume_down - exact */
    --jmix-font-icon-volume-off: '\e04f'; /* volume_off - exact */
    --jmix-font-icon-volume-up: '\e050'; /* volume_up - exact */
    --jmix-font-icon-v-splitpanel: '\e8ee'; /* vertical_split - close */
    --jmix-font-icon-wallet: '\e227'; /* wallet - exact */
    --jmix-font-icon-warning: '\e002'; /* warning - exact */
    --jmix-font-icon-wrench: '\e8f1'; /* build - close */
    --jmix-font-icon-youtube: '\e04b'; /* smart_display - none */
    --jmix-font-icon-youtube-square: '\e04b'; /* smart_display - none */

    /* ===== ADDITIONAL / LESS COMMON VAADIN ICONS ===== */
    --jmix-font-icon-academy-cap: '\e80c'; /* school - exact */
    --jmix-font-icon-align-center: '\e234'; /* format_align_center - exact */
    --jmix-font-icon-align-justify: '\e235'; /* format_align_justify - exact */
    --jmix-font-icon-align-left: '\e236'; /* format_align_left - exact */
    --jmix-font-icon-align-right: '\e237'; /* format_align_right - exact */
    --jmix-font-icon-alt: '\e559'; /* alt_route - close */
    --jmix-font-icon-anchor-o: '\f1cd'; /* anchor - exact */
    --jmix-font-icon-archive-box: '\e149'; /* inventory_2 - close */
    --jmix-font-icon-arrow-down-long: '\f1e2'; /* arrow_downward_alt - exact */
    --jmix-font-icon-arrow-up-long: '\f1e0'; /* arrow_upward_alt - exact */
    --jmix-font-icon-badge: '\ea67'; /* badge - exact */
    --jmix-font-icon-ban-o: '\e7a6'; /* block - exact */
    --jmix-font-icon-battery: '\e1a3'; /* battery_full - close */
    --jmix-font-icon-battery-empty: '\e1a4'; /* battery_0_bar - close */
    --jmix-font-icon-battery-full: '\e1a3'; /* battery_full - exact */
    --jmix-font-icon-binoculars: '\e417'; /* zoom_in - close */
    --jmix-font-icon-black-eye: '\e8f4'; /* visibility - exact */
    --jmix-font-icon-bold-text: '\e238'; /* format_bold - exact */
    --jmix-font-icon-book-dollar-o: '\e865'; /* menu_book - none */
    --jmix-font-icon-camera-o: '\e3af'; /* camera_alt - close */
    --jmix-font-icon-check-a: '\e5ca'; /* check - exact */
    --jmix-font-icon-chevron-up-m: '\e5ce'; /* keyboard_arrow_up - exact */
    --jmix-font-icon-chevron-down-m: '\e5cf'; /* keyboard_arrow_down - exact */
    --jmix-font-icon-chevron-left-m: '\e5cb'; /* keyboard_arrow_left - exact */
    --jmix-font-icon-chevron-right-m: '\e5cc'; /* keyboard_arrow_right - exact */
    --jmix-font-icon-chat: '\e0b7'; /* chat - exact */
    --jmix-font-icon-cloud-o-download: '\e2c0'; /* cloud_download - exact */
    --jmix-font-icon-cloud-o-upload: '\e2c3'; /* cloud_upload - exact */
    --jmix-font-icon-code-o: '\e86f'; /* code - exact */
    --jmix-font-icon-coffee: '\efef'; /* coffee - exact */
    --jmix-font-icon-coin: '\e227'; /* monetization_on - close */
    --jmix-font-icon-coins: '\e227'; /* toll - close */
    --jmix-font-icon-combo-box: '\ea4d'; /* arrow_drop_down_circle - close */
    --jmix-font-icon-comment-ol: '\e0b9'; /* chat_bubble - close */
    --jmix-font-icon-comment-o-2: '\e0ba'; /* chat_bubble_outline - close */
    --jmix-font-icon-connect-o: '\e63a'; /* cable - close */
    --jmix-font-icon-connections: '\eb3a'; /* hub - close */
    --jmix-font-icon-copy-alt: '\e14d'; /* content_copy - exact */
    --jmix-font-icon-credit-card-o: '\e870'; /* credit_card - exact */
    --jmix-font-icon-cursor-click: '\e0a5'; /* touch_app - close */
    --jmix-font-icon-cursor-o-2: '\e0b7'; /* mouse - close */
    --jmix-font-icon-date-time-input: '\e916'; /* event - close */
    --jmix-font-icon-deindent-2: '\e23d'; /* format_indent_decrease - exact */
    --jmix-font-icon-deliver: '\e558'; /* local_shipping - exact */
    --jmix-font-icon-density-grid-big: '\e9b0'; /* density_medium - close */
    --jmix-font-icon-density-grid-small: '\eb0b'; /* density_small - close */
    --jmix-font-icon-discard: '\e872'; /* delete_forever - close */
    --jmix-font-icon-download-bold: '\f090'; /* download - exact */
    --jmix-font-icon-drop-o: '\e798'; /* water_drop - close */
    --jmix-font-icon-duplicate: '\e14d'; /* file_copy - close */
    --jmix-font-icon-edit-bold: '\e3c9'; /* edit - exact */
    --jmix-font-icon-email: '\e0be'; /* email - exact */
    --jmix-font-icon-email-o: '\e0e1'; /* mail_outline - exact */
    --jmix-font-icon-equal-circle: '\eb2d'; /* balance - close */
    --jmix-font-icon-exchange-o: '\ea62'; /* currency_exchange - close */
    --jmix-font-icon-eye-o: '\e8f4'; /* visibility - exact */
    --jmix-font-icon-file-add-o: '\e853'; /* note_add - close */
    --jmix-font-icon-file-move: '\e2c6'; /* drive_file_move - close */
    --jmix-font-icon-file-save: '\e161'; /* save - close */
    --jmix-font-icon-file-slash: '\eb9d'; /* file_present - close */
    --jmix-font-icon-filter-bold: '\ef4f'; /* filter_alt - exact */
    --jmix-font-icon-flag-bold: '\e153'; /* flag - exact */
    --jmix-font-icon-flash-bold: '\e0e7'; /* bolt - exact */
    --jmix-font-icon-funnel-plus: '\ef4f'; /* filter_alt - close */
    --jmix-font-icon-funnel-select: '\ef4f'; /* filter_alt - close */
    --jmix-font-icon-gift-card: '\e8fe'; /* card_giftcard - close */
    --jmix-font-icon-globe-wire: '\e80b'; /* language - close */
    --jmix-font-icon-grid-big-with-squares: '\e9b0'; /* grid_view - close */
    --jmix-font-icon-grid-detail: '\e3f4'; /* photo_library - close */
    --jmix-font-icon-handshake-o: '\f7c5'; /* handshake - exact */
    --jmix-font-icon-input: '\e900'; /* input - exact */
    --jmix-font-icon-invoice-o: '\e850'; /* receipt_long - close */
    --jmix-font-icon-item-lock: '\e897'; /* lock - exact */
    --jmix-font-icon-key-bold: '\e73c'; /* key - exact */
    --jmix-font-icon-knife: '\e91e'; /* kitchen - none */
    --jmix-font-icon-link: '\e157'; /* link - exact */
    --jmix-font-icon-link-bold: '\e157'; /* link - exact */
    --jmix-font-icon-list-select-all: '\e241'; /* playlist_add_check - close */
    --jmix-font-icon-location-pin: '\e55f'; /* location_on - exact */
    --jmix-font-icon-map: '\e55b'; /* map - exact */
    --jmix-font-icon-menu-bold: '\e5d2'; /* menu - exact */
    --jmix-font-icon-message-bold: '\e0b7'; /* chat - close */
    --jmix-font-icon-money-bold: '\e227'; /* attach_money - close */
    --jmix-font-icon-moon-o: '\e208'; /* dark_mode - close */
    --jmix-font-icon-no-eye: '\e8f5'; /* visibility_off - exact */
    --jmix-font-icon-no-eye-bold: '\e8f5'; /* visibility_off - exact */
    --jmix-font-icon-numbered-list: '\e242'; /* format_list_numbered - exact */
    --jmix-font-icon-options: '\e8d8'; /* tune - close */
    --jmix-font-icon-options-bold: '\e615'; /* settings - close */
    --jmix-font-icon-ordered-list: '\e242'; /* format_list_numbered - exact */
    --jmix-font-icon-package-submit: '\e558'; /* local_shipping - close */
    --jmix-font-icon-password: '\e897'; /* password - close */
    --jmix-font-icon-paste-bold: '\f0f4'; /* content_paste - exact */
    --jmix-font-icon-pause-bold: '\e034'; /* pause - exact */
    --jmix-font-icon-pencil-o: '\e3c9'; /* edit - close */
    --jmix-font-icon-person-o: '\e7ff'; /* person_outline - exact */
    --jmix-font-icon-phone-bold: '\e0b0'; /* phone - exact */
    --jmix-font-icon-photo: '\e3f4'; /* photo - exact */
    --jmix-font-icon-play-bold: '\e037'; /* play_arrow - exact */
    --jmix-font-icon-plus-bold: '\e145'; /* add - exact */
    --jmix-font-icon-pointer-bold: '\e55f'; /* touch_app - close */
    --jmix-font-icon-power-off-bold: '\e8ac'; /* power_settings_new - exact */
    --jmix-font-icon-print-bold: '\e8ad'; /* print - exact */
    --jmix-font-icon-refresh-bold: '\e5d5'; /* refresh - exact */
    --jmix-font-icon-reply-bold: '\e15e'; /* reply - exact */
    --jmix-font-icon-rotate-left-bold: '\e419'; /* rotate_left - exact */
    --jmix-font-icon-rotate-right-bold: '\e41a'; /* rotate_right - exact */
    --jmix-font-icon-ruler-o: '\e157'; /* straighten - close */
    --jmix-font-icon-save: '\e161'; /* save - exact */
    --jmix-font-icon-search: '\e8b6'; /* search - exact */
    --jmix-font-icon-search-bold: '\e8b6'; /* search - exact */
    --jmix-font-icon-search-minus: '\e900'; /* search_off - close */
    --jmix-font-icon-search-plus: '\e8b6'; /* manage_search - close */
    --jmix-font-icon-select-all: '\e842'; /* select_all - exact */
    --jmix-font-icon-send: '\e163'; /* send - exact */
    --jmix-font-icon-share-bold: '\e80d'; /* share - exact */
    --jmix-font-icon-sign-in-bold: '\ea77'; /* login - exact */
    --jmix-font-icon-sign-out-bold: '\e9fd'; /* logout - exact */
    --jmix-font-icon-slider-bold: '\e615'; /* tune - close */
    --jmix-font-icon-sort-bold: '\e164'; /* sort - exact */
    --jmix-font-icon-split-h: '\e3bc'; /* vertical_split - close */
    --jmix-font-icon-split-v: '\e8ee'; /* horizontal_split - close */
    --jmix-font-icon-star-bold: '\e838'; /* star - exact */
    --jmix-font-icon-step-backward-bold: '\e045'; /* skip_previous - exact */
    --jmix-font-icon-step-forward-bold: '\e044'; /* skip_next - exact */
    --jmix-font-icon-stop-bold: '\e047'; /* stop - exact */
    --jmix-font-icon-sync: '\e5d5'; /* sync - exact */
    --jmix-font-icon-tab-icon: '\e8d8'; /* tab - exact */
    --jmix-font-icon-tag-bold: '\e9c5'; /* label - close */
    --jmix-font-icon-target: '\e55f'; /* my_location - close */
    --jmix-font-icon-text: '\e900'; /* text_fields - exact */
    --jmix-font-icon-thumb-down-bold: '\e8db'; /* thumb_down - exact */
    --jmix-font-icon-thumb-up-bold: '\e8d8'; /* thumb_up - exact */
    --jmix-font-icon-time-backward-2: '\e9aa'; /* history - exact */
    --jmix-font-icon-timer-bold: '\e425'; /* timer - exact */
    --jmix-font-icon-toggle-off: '\e9f6'; /* toggle_off - exact */
    --jmix-font-icon-toggle-on: '\e9f5'; /* toggle_on - exact */
    --jmix-font-icon-toolbar: '\e2d6'; /* toolbar - close */
    --jmix-font-icon-touch-bold: '\e0a5'; /* touch_app - exact */
    --jmix-font-icon-train-bold: '\e570'; /* train - exact */
    --jmix-font-icon-trash-bold: '\e872'; /* delete - exact */
    --jmix-font-icon-trophy-bold: '\ef55'; /* emoji_events - exact */
    --jmix-font-icon-truck-bold: '\e558'; /* local_shipping - exact */
    --jmix-font-icon-two-columns: '\e9b0'; /* view_column - close */
    --jmix-font-icon-undo-bold: '\e166'; /* undo - exact */
    --jmix-font-icon-unlink-bold: '\e157'; /* link_off - exact */
    --jmix-font-icon-upload-bold: '\f09b'; /* upload - exact */
    --jmix-font-icon-user-bold: '\e7fd'; /* person - exact */
    --jmix-font-icon-verified: '\e9d9'; /* verified - exact */
    --jmix-font-icon-video-bold: '\e04b'; /* videocam - close */
    --jmix-font-icon-volume-bold: '\e050'; /* volume_up - exact */
    --jmix-font-icon-warning-bold: '\e002'; /* warning - exact */
    --jmix-font-icon-wrench-bold: '\e8f1'; /* build - close */
    --jmix-font-icon-zoom-in: '\e8ff'; /* zoom_in - exact */
    --jmix-font-icon-zoom-out: '\e900'; /* zoom_out - exact */
}