/* Define your styles here */

.user-picture {
    object-fit: contain;
}

vaadin-grid.onboarding-steps::part(overdue-step) {
    color: red;
}

.document-border {
    border: 1px solid;
    border-color: var(--lumo-contrast-20pct);
    border-radius: var(--lumo-border-radius-l);
}